.profile-info__header {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 10px;
  margin-left: 27px;
  align-items: center;
  margin-bottom: calc(5px + (10 - 5) * ((100vw - 320px) / (1280 - 320)));
}

@media screen and (min-width: 1024px) {
  .profile-info__header {
    margin-left: 0;
    column-gap: 18px;
    justify-content: initial;
  }
}
